  
.headerProfile {
  display: flex;
  height: 400px;
  width: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: beige;
}

.profileImage {
  border-radius: 50%;
  height: 160px;
}
