  
.headerProfile {
  display: flex;
  height: 400px;
  width: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #e3d8c6;
  background-image: url("https://www.transparenttextures.com/patterns/45-degree-fabric-light.png");
}

.writenew {
    float:  right;
    font-family: 'Source Sans Pro', sans-serif;
    margin-top: 3px;
}


.profileImage {
  border-radius: 50%;
  height: 160px;
}

h5 {
  justify-content: space-between;
  display: flex;
}

