textarea {
width: 100%;
padding-bottom: 5px;
text-align: center;
}

.placeholder {
  align-content: center;
}

.tweet-form {
  width: 600px;
  background: transparent;
}

.new-tweet {
  display: flex;
  justify-content: space-between;
  
}

.user-tweet {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 3px solid rgb(0, 0, 0);
  padding: 15px;
  margin-bottom: 30px;
  opacity: 0.5;
}

.avatar-name {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 20%;
}

.user-tweet-header {
  display: flex;
  justify-content: space-between;
}

.user-tweet-footer {
  border-top: 3px solid rgb(0, 0, 0);
  display: flex;
  justify-content: space-between;
}

.user-tweet:hover  {
  display: block;
  box-shadow: 10px 10px 5px grey;
}

button:hover {
  color: yellow
}


.icons {
  display: flex;
  align-items: center;
  justify-content: center;

}

.icons i {
  margin: 3px;
  font-size: 0.8em;
  color: rgb(194, 192, 192);

}

.icon:hover {
  color: yellow;
}

.counter {
  flex-direction: row;
  float: right;
  font-family: 'Bungee', cursive;
}


button {
  flex-direction: row;
  color: white;
  background-color: #2a5bc6 ;
  font-family: 'Bungee', cursive;
}

.alert {
  padding: 10px;
  background-color: #d22903; 
  color: white;
  margin-bottom: 15px;
}

.closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.closebtn:hover {
  color: black;
}

@media only screen and (min-width: 1024px) {
  body {
    display: flex;
    flex-direction: row;
  }
  main{
   margin-top: 120px; 
  }
  
}

@media only screen and (max-width: 1023px) {
  .topnav {
  background-color: #ac00b5;;
  }
}
